

  /* Add your CSS here */
  .base-button {
    border-radius: 25px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
      -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
      -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  }
  .base-button:active {
    background-color: red;
  }
  .primary {
    background-color:blue
  }
  .primary:hover {
    background-color: darkblue;
  }

  .secondary {
    background-color: grey
  }
  .secondary:hover {
    background-color: darkgrey;
  }

  .success {
    background-color: green
  }
  .success:hover {
    background-color: darkgreen;
  }

  .unobtrusive-button {
    border-radius: 25px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
  }
  .unobtrusive-button:hover {
    box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
      -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
      -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
      color:white;
  }
  .primary-unob {
    color:blue
  }
  .primary-unob:hover {
    background-color:blue
  }
