<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/07_dynamic_list_group" target="_blank">Target</a>
</p>

<%# The below code creates an array of 10 random names %>
<%= names = Array.new(10) { Faker::Name.unique.name  } %>
<div class = "row">
<div class="col-md-4"></div>
<div class="col-md-4">
  <ol class="list-group list-group">
  <% names.each do |name| %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <%=name %>
      </div>
      <span class="badge text-bg-primary rounded-pill"><%= rand(10)%></span>
    </li>
    <% end %>
  </ol>
</div>
<div class="col-md-4"></div>
</div>
